.goods {
  padding-bottom: 75px;

  .goods-wrp {
    .good-banner {
      width: 375px;
      height: 375px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }

      .views {
        position: absolute;
        top: 10px;
        left: 16px;
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        color: rgba(255, 255, 255, 1);
      }

      // 指示点
      .dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 21px;
        width: 100%;
        box-sizing: border-box;

        .dot {
          width: 6px;
          height: 6px;
          margin: 0 2px;
          background: #EFEFEF;
          border-radius: 50%;
          transition: width .4s;
        }

        .disable {
          width: 29px;
          border-radius: 11px;
          background-color: rgba(255, 255, 255, 1);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        }
      }




    }





    .good-content {
      border-bottom: 10px solid rgba(242, 242, 242, 0.8);
      padding: 0 10px;
      background: #F4F4F4;

      .good-content-wrp {
        position: relative;
        top: -20px;

        .good-info {
          border-radius: 10px;
          margin-bottom: 10px;
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.05);
          border-radius: 10px;
          overflow: hidden;

          .good-row-top {
            height: 50px;
            position: relative;
            display: flex;
            align-items: flex-end;

            .price-box {
              height: 44px;
              flex: 1;
              background: linear-gradient(270deg, rgba(255, 111, 71, 1) 0%, rgba(245, 78, 96, 1) 100%);
              display: flex;
              align-items: baseline;
              padding-top: 7px;
              box-sizing: border-box;
              border-radius: 10px 0 0 0;

              .normal-price {
                font-size: 22px;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                padding: 0 22px 0 10px;

              }

              .price {
                font-size: 14px;
                font-weight: 300;
                color: rgba(255, 255, 255, .7);
                text-decoration: line-through;
              }

            }

            .activity-box {
              position: absolute;
              right: 0;
              top: 0;
              width: 127px;
              height: 50px;
              background: url('https://img.icaixiaochu.com/good-bg-detail.png') no-repeat;
              background-position: center;
              background-size: 100% 100%;
              font-size: 13px;
              font-weight: 400;
              line-height: 18px;
              color: rgba(255, 255, 255, 1);
              display: flex;
              align-items: center;
              justify-content: center;
              flex-flow: column nowrap;
              z-index: 1;
            }
          }

          .good-row-but {
            height: 169px;
            background: rgba(255, 255, 255);

            .good-sku-content {
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 120px;

              .good-sku-left {
                padding-left: 12px;
                flex: 1;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-evenly;

                .good-sku-name {

                  font-size: 17px;
                  font-weight: bold;

                  color: rgba(64, 64, 64, 1);
                }

                .good-sku-title {

                  height: 21px;
                  font-size: 15px;

                  font-weight: 500;

                  color: rgba(64, 64, 64, .6);

                }

                .poster {
                  width: 82px;
                  height: 29px;
                  background: rgba(250, 140, 109, 1);
                  box-shadow: 0px 1px 6px rgba(250, 140, 109, 0.5);
                  border-radius: 15px;
                  display: flex;
                  align-items: center;

                  img {
                    width: 14px;
                    height: 14px;
                    padding: 0 4px 0 8px;
                  }

                  span {

                    font-size: 12px;
                    font-weight: 500;
                    color: rgba(255, 255, 255, 1);
                  }
                }
              }

              .good-sku-right {


                button::after {
                  border: none;
                }

                button {
                  width: 58px;
                  height: 24px;
                  background: rgba(246, 246, 246, 1);
                  border-radius: 12px 0px 0px 12px;
                  margin: 0;
                  padding: 0;
                  display: flex;
                  align-items: center;

                  span {
                    font-size: 11px;
                    font-weight: 500;
                    line-height: 16px;
                    color: rgba(64, 64, 64, .5);
                  }

                  img {
                    height: 14px;
                    width: 14px;
                    padding: 0 4px 0 6px;
                  }

                }


              }
            }

            .good-sku-des {
              margin: 0 12px;
              height: 49px;
              border-top: 1px solid rgba(112, 112, 112, .1);
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 13px;
              font-weight: 500;
              line-height: 18px;
              color: rgba(0, 0, 0, .6);

            }
          }
        }

        .good-detail {
          overflow: hidden;

          border-top-left-radius: 10px;
          border-top-right-radius: 10px;

          .switch-fuc {
            background: #F4F4F4;
            height: 54px;
            display: flex;
            align-items: center;

            .switch-state {
              height: 100%;
              flex: 1;
              font-size: 13px;
              font-weight: 400;
              color: rgba(0, 0, 0, .7);
              text-align: center;
              display: flex;
              flex-flow: column nowrap;
              align-items: center;

              box-sizing: border-box;
              justify-content: flex-end;

              span {
                padding-bottom: 14px;
              }

              .tag-icon {
                width: 24px;
                height: 4px;
                background: rgba(254, 168, 53, 1);
                box-shadow: 0px 1px 6px rgba(254, 168, 53, 0.4);
                border-radius: 12px;
              }
            }

            .active-right {
              background: url('https://img.icaixiaochu.com/switch-right.png') no-repeat;
              background-position: center;
              background-size: 100% 100%;
              font-weight: bold;
              color: #000;
            }

            .active-left {
              background: url('https://img.icaixiaochu.com/switch-left.png') no-repeat;
              background-position: center;
              background-size: 100% 100%;
              font-weight: bold;
              color: #000;
            }

          }

          .good-des {
            background: #fff;
            padding-top: 10px;
          }

          .good-comments {
            background: #fff;

            .comments-item {
              height: 193px;
              padding: 9px 12px;
              border-bottom: 1px solid rgba(112, 112, 112, .1);

              .comments-top {
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .comments-left {
                  display: flex;
                  align-items: center;

                  .user-cover {
                    display: flex;
                    align-items: center;

                    img {
                      width: 26px;
                      height: 26px;
                    }
                  }

                  .user-name {

                    font-size: 13px;
                    font-weight: bold;
                    color: rgba(0, 0, 0, .87);

                    padding: 0 16px 0 6px;
                  }

                  img {
                    height: 14px;
                    width: 14px;
                  }
                }

                .comments-right {

                  font-size: 11px;

                  font-weight: 400;
                  line-height: 16px;
                  color: rgba(0, 0, 0, .5);



                }
              }

              .comments-des {
                .comments-text {

                  font-size: 13px;
                  font-weight: 400;
                  color: rgba(0, 0, 0, .87);

                }

                .comments-imgs {
                  padding: 13px 0;

                  img {
                    width: 90px;
                    height: 90px;
                  }
                }
              }
            }

          }
        }

        .sku-ared-footer {
          height: 41px;
          background: #fff;
          align-items: center;
          display: flex;
          justify-content: space-between;
          padding: 0 12px;
          font-size: 13px;
          font-weight: 400;
          line-height: 18px;
          color: rgba(0, 0, 0, .87);
          border-radius: 10px;

          .sku-footer-left {
            display: flex;
            align-items: center;

            img {
              height: 14px;
              width: 14px;
              padding-right: 4px;
            }
          }

        }
      }


    }




    .buy-info {
      width: 375px;
      background-color: #fff;
      padding-bottom: 5px;
      .good-des {
        padding: 0 12px;
        height: 150px;

        .buy-content {
          display: flex;
          padding-bottom: 4px;
          border-bottom: 1px solid rgba(112, 112, 112, .1);
          height: 92px;

          .good-cover {
            width: 86px;
            height: 86px;
            background: rgba(167, 167, 167, 1);
            border-radius: 5px;
            margin-right: 14px;
            position: relative;
            top: -12px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .good-price {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;

            .price-col {
              display: flex;
              align-items: center;

              .text {
                padding-left: 6px;
                font-size: 12px;
                font-weight: bold;
                color: rgba(0, 0, 0, .3);
                text-decoration: line-through;
              }
            }

          }
        }

        .buy-num-row {
          display: flex;
          height: 50px;
          justify-content: space-between;
          align-items: center;

          p {
            font-size: 15px;
            font-weight: 400;
            line-height: 21px;
            color: rgba(0, 0, 0, .87);
          }

          .numAction {
            width: 80px;
            height: 26px;
            background: rgba(255, 255, 255, 1);
            border: 1px solid rgba(230, 230, 230, 1);
            opacity: 1;
            border-radius: 13px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 4px;

            .action {
              width: 18px;
              height: 18px;
              background: rgba(242, 242, 242, 1);
              border-radius: 50%;
              position: relative;
            }

            .extend::after {
              content: '';
              position: absolute;
              top: -10px;
              left: -10px;
              right: -10px;
              bottom: -10px;
            }

            .subtract {
              width: 18px;
              height: 18px;
              background-size: 100% 100%;
              background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADIAgMAAADQNkYNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlQTFRFAAAAMzMzAAAABZIJ2gAAAAF0Uk5TAEDm2GYAAAABYktHRACIBR1IAAAACXBIWXMAAABIAAAASABGyWs+AAAAKklEQVRo3u3LMQ0AAAwDoJqcfyuz0LuBnwQAAACANVdSFGWrAAAAALDhAR17CbCyj8OjAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA0LTEzVDEyOjEwOjQ0KzA4OjAwGnjmpwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxOS0wNC0xM1QxMjoxMDo0NCswODowMGslXhsAAABLdEVYdHN2ZzpiYXNlLXVyaQBmaWxlOi8vL2hvbWUvYWRtaW4vaWNvbi1mb250L3RtcC9pY29uX2RycDV1eWRzcWVsL3N1YnRyYWN0LnN2ZyTsTKUAAAAASUVORK5CYII=);
            }

            .add {
              width: 18px;
              height: 18px;
              background-size: 100% 100%;
              background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADIBAMAAABfdrOtAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAkUExURUdwTDQ0NDMzMzIyMjMzMzIyMjIyMjIyMjMzMzMzMzMzMzMzM/bgmJ4AAAALdFJOUwBEQExyijnNGWXrdobz/QAAAPBJREFUeNrt2z9KA0EYxuGgrtgKHsAjWAQs0hi8gEewtLe0sfIQegJJmSLoezmLrSwCQybzofD82i0e2D8zsHyzWEiSJEmS9K9a3o833pPP0caUJA+DkVWSbAcjL0myG2tcJEnyOhQ5n5HHocjJjFxDIBAIBAKBQCAQCAQCgUAgkN+9Xe7pakbW+64/tRu3ObjnVmNKR63/jD96kK9GZNODfLcZp+nqpgk560Pu/g5ScrtKHnzNK1zyMZYsKzULpE0LAoFAIBAIBAKBQCAQCAQCOVolQ8kl49Ulg+I1I+8lw/slxxBqDlRIkiRJknTMfgDKCxXfxcuwmAAAAABJRU5ErkJggg==);
            }
          }

        }

      }

      .enter-buy {
        width: 343px;
        height: 40px;
        background: linear-gradient(270deg, rgba(250, 177, 68, 1) 0%, rgba(250, 177, 68, 1) 1%, rgba(252, 142, 89, 1) 100%);
        box-shadow: 0px 1px 6px rgba(252, 144, 88, 0.5);
        font-size: 15px;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        text-align: center;
        line-height: 40px;
        border-radius: 20px;
        margin: 0 auto;
      }
    }

    .cover-wrp {
      width: 315px;

      .good-cover {
        width: 315px;
        height: 472px;
        opacity: 1;
        background: rgba(255, 255, 255, 1);
        border-radius: 5px;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          border-radius: 5px;
          background-color: #fff;
        }
      }

      .cover-footer {
        display: flex;
        text-align: center;
        justify-content: space-between;
        background-color: #fff;
        border-top: 1px solid rgba(112, 112, 112, .05);
        border-radius: 5px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        position: relative;
        top: -4px;

        button {
          background: none !important;
        }

        button::after {
          border: none;
        }

        .cancel {
          flex: 1;
          height: 50px;
          font-size: 13px;
          font-weight: 400;
          line-height: 50px;
          color: rgba(145, 145, 145, .87);
          border-right: 1px solid rgba(112, 112, 112, .05)
        }

        .save {
          flex: 1;
          height: 50px;
          font-size: 13px;
          font-weight: 400;
          line-height: 50px;
          color: rgba(0, 0, 0, .87);
        }
      }
    }
  }

  .good-card {
    padding: 6px 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    .card-left {
      flex: 0 0 155px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
      color: rgba(0, 0, 0, .87);

      .to-home {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;

        img {
          height: 24px;
          width: 24px;
        }
      }

      .to-card {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;

        img {
          height: 24px;
          width: 24px;
        }
      }
    }

    .sold {
      flex: 1;
      width: 220px;
      height: 40px;
      line-height: 40px;
      font-size: 15px;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      text-align: center;
      background: rgba(178, 178, 178, 1);
      box-shadow: 0px 1px 6px rgba(178, 178, 178, 0.5);
      border-radius: 20px;
    }

    .card-right {
      flex: 1;
      height: 40px;
      position: relative;
      display: flex;
      align-items: center;
      line-height: 40px;
      font-size: 15px;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      text-align: center;
      border-radius: 20px;
      overflow: hidden;


      button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
      }

      button::after {
        border: none;
      }

      .add-card {
        flex: 1;
        width: 110px;
        width: 110px;
        height: 40px;
        background: linear-gradient(90deg, rgba(250, 177, 68, 1) 0%, rgba(252, 142, 89, 1) 100%);
        z-index: 11;
      }

      .buy {
        width: 110px;

        height: 40px;
        background: rgba(255, 99, 4, 1);
        background: rgba(255, 99, 4, 1);
      }
    }
  }

  .nav-bar-view-ipx {
    padding-bottom: 34px;
    padding-top: 6px;
  }
}