.app {
  padding: 0;
  background-color: #fff;
  position: relative;
  display: block;
  width: 100%;
  overflow-x: hidden;

  .header {
    .header-wrp {
      width: 100%;
      position: fixed;
      z-index: 9;
      background-color: #fff;
      padding: 0 14px;
      display: flex;
      box-sizing: border-box;
      flex-flow: row nowrap;

      .location-box {
        margin-right: 20rpx;
        display: flex;
        align-items: center;

        ._img {
          width: 28rpx;
          height: 28rpx;
          margin-right: 2px;
        }

        ._p {
          height: 38rpx;
          font-size: 28rpx;
          font-weight: 400;
          line-height: 38rpx;
          color: #aeaeae;
          width: 136rpx;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .form {
        flex: 1;

        .btn {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          background: #f9f9f9;
          border-radius: 15px;
          height: 30px;

          ._img {
            padding-left: 10px;
            width: 40rpx;
            height: 40rpx;
          }

          ._span {
            font-size: 28rpx;
            font-weight: 500;
            line-height: 40rpx;
            color: #aeaeae;
          }
        }
      }
    }
  }

  .app-wrp {
    position: relative;
    background-color: #fff;
    padding-top: 42px;

    .banner {
      position: relative;
      height: 276rpx;
      width: 100%;
      margin: 0 auto;
      background-size: cover;
      background-position: center 50%;
      background-repeat: no-repeat;
      background-image: url("http://img4.imgtn.bdimg.com/it/u=1953369279,565980577&fm=26&gp=0.jpg");
      border-radius: 16rpx;
      margin-bottom: 44rpx;
    }

    .category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .category-wrp {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        height: 155px;
        padding: 6px 0;
        border-bottom: 1px solid #f6f6f6;

        .category-item {
          width: 20%;
          text-align: center;
          position: relative;

          ._img {
            width: 46px;
            height: 46px;
          }

          ._p {
            font-size: 12px;
            font-weight: 400;
            color: #505050;
          }
        }
      }
    }
    .gift-activity {
      height: 120px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .content-box {
      padding: 0 10px;
      background: #f5f5f5;
     
      .spike {
        margin-bottom: 10px;
        border-radius: 10px;
        height: 256px;
        background-color: #ffffff;
        .head-top {
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 12px;
          box-sizing: border-box;
          background: url(https://img.icaixiaochu.com/spike-cover.png) no-repeat;
          background-size: 100% 76px;

          .flex-left {
            display: flex;
            align-items: center;

            img {
              height: 33px;
              width: 33px;
              position: relative;
              top: 4px;
            }

            h3 {
              font-size: 19px;
              font-weight: bold;
              line-height: 26px;
              color: rgba(255, 255, 255, 1);
              text-shadow: 0px 3px 5px rgba(206, 35, 7, 1);
            }
          }

          .flex-right {
            display: flex;
            align-items: center;

            p {
              font-size: 11px;
              font-weight: 400;
              color: rgba(255, 255, 255, 1);
              margin-right: 3px;
            }

            .time-row {
              display: flex;
              align-items: center;

              .time-col {
                width: 21px;
                height: 21px;
                background: rgba(47, 10, 0, 0.7);
                border-radius: 3px;
                font-size: 26rpx;
                font-weight: 400;
                line-height: 21px;
                color: #ffffff;
                text-align: center;
                margin: 0 2px;
              }
            }
          }
        }

        .main {
          padding-top: 10px;
        }
      }
      .dynamic {
        margin-bottom: 10px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 14px;
        box-sizing: border-box;
        position: relative;
        background: #fff;
        border-radius: 10px;

        .border {
          width: 100%;
          height: 1px;
          position: absolute;
          left: 54px;
          top: 0;
          background: rgba(243, 243, 243, 1);
        }

        .dynamic-icon {
          flex: 0 0 68px;
          height: 17px;
          padding: 2px 14px 2px 0;
          border-right: 1px solid #F6F6F6;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .dynamic-content {
          flex: 1;
          height: 100%;

          .swiper_container {
            height: 100%;
            flex: 1;
            .item {
              display: flex;
              align-items: center;

              .tag {
                height: 15px;
                border: 1px solid rgba(38, 166, 255, 0.3);
                border-radius: 5px;
                font-size: 9px;
                font-weight: 500;
                line-height: 16px;
                color: rgba(38, 166, 255, 1);
                text-align: center;
                margin: 0 7px;
                padding: 0 3px;
              }

              p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                flex: 1;
                font-size: 13px;
                font-weight: 500;
                color: rgba(0, 0, 0, 1);
              }
            }
          }
        }
      }

      .couple {
        margin-bottom: 10px;
        background: #fff;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        height: 266px;
        .couple-wrp {
          .icon-bg {
            width: 16px;
            height: 16px;

            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .member {
        margin-bottom: 10px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        height: 266px;
        .icon-bg {
          width: 16px;
          height: 16px;

          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .hot-container {
        width: 100%;
        margin-top: 8rpx;

        & /deep/ .recommend {
          padding: 0 4px !important;
        }
      }
    }
  }
}
